@{
    ViewData["title"] = "Checking your fever";
}


<form asp-route="doctor" method="post">
    <input type="text" name="temprature" />
    <input type="submit" value="Check your fever" />
</form>
<p>
    @ViewBag.result
</p>