@{
    ViewData["title"] = "About me";
}

<p>
    Im a dude that like programming and have programmed in c++ and php mainly and try to learn asp.net now. I´m going a course from lexicon and i have two teachers with the names Jonathan and Tobias.
</p>