@{
    ViewData["title"] = "Portfolio";
}

<p><a href="https://github.com/djzzz/Calculator">Calculator</a> A small termnal based calculator</p>
<p><a href="https://github.com/djzzz/Hangman">Hangman</a> Simple hangman game</p>
<p><a href="https://github.com/djzzz/TodoIT">TodoIt</a> A class system with testing for a todo app</p>
<p><a href="https://github.com/djzzz/Vending-Machine">Vending Machine</a> A pretty simple vending machine system with determination on input values like 5 dollar bills</p>
<p><a href="https://github.com/djzzz/htmlSchoolProject">Html & css project</a> A basic css and html assignment that uses flex and grid</p>
<p><a href="https://github.com/djzzz/soko">SokoGame</a> A game with a map that generates from a multidimisonel array</p>