body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background:#000;
    min-height:100vh;
    padding-bottom:20vh;
}
img{
    max-width:100%;
}
header {
    display: flex;
    justify-content: space-between;
    max-width:1000px;
    margin: auto;
}
.logo{
    width:50px;
}
ul{
    display:flex;
    list-style:none;
}
li{
    margin: 2rem;
}
a{
    color:#fff;
    text-decoration:none;
}
main{
    max-width:1000px;
    color:#fff;
    margin:auto;
}
footer{
    text-align:center;
    max-width:1000px;
    position:absolute;
    color:#fff;
    left:50%;
    transform:translateX(-50%);
    bottom:0px;
    padding-bottom:2rem;

}
p a {
    font-weight: bold;
    opacity: 0.8;
    color: #ffa463;
}
p a:hover {
    color: #ff8c3b;
}