@model mvc_basic.Models.Countrys.CountrysViewModel

<partial name="_CountryContainer" for="@Model" />
<form asp-controller="Country" asp-action="Index" asp-route-id="" method="post" id="Add">
    <input name="url" type="hidden" value="@Url.Action("Index", "People")" />
    <label asp-for="@Model.CreateCountryViewModel.Name">Name</label>
    <input asp-for="@Model.CreateCountryViewModel.Name" />
    <input type="submit" value="Save" />
</form>

