@{
    ViewData["title"] = "Checking your fever";
}


<form asp-controller="FeverCheck" asp-action="Check" method="post">
    <input type="text" name="temprature" />
    <input type="submit" value="Check your fever" />
</form>
