@model mvc_basic.Models.Cities.City
<div class="Container">
    <a asp-controller="City" asp-action="Delete" asp-route-id="@Model.CityId">@Model.Name</a>
    <br />
    @if (Model.Peoples.Count != 0)
    {
        <p>Persons:</p>
        @foreach(var person in Model.Peoples) {
            <p>@person.Name</p>
        }

    }
    <p><a asp-controller="City" asp-action="Edit" asp-route-id="@Model.CityId">Edit</a></p>
    <br />
    <br />
</div>