@model mvc_basic.Models.Countrys.Country
<div class="Container">
    <a asp-controller="Country" asp-action="Delete" asp-route-id="@Model.CountryId">@Model.Name</a>
    <br />
    @if (Model.Cities.Count != 0)
    {
        <p>Cities:</p>
        @foreach (var city in Model.Cities)
        {
            <p>@city.Name</p>
        }

    }
    <p><a asp-controller="Country" asp-action="Edit" asp-route-id="@Model.CountryId">Edit</a></p>
    <br />
    <br />
</div>